.style{
    width: 35%;
    height: 20%;
    margin-left: 5%;
    border: 2px,black;
    border-radius: 10px;
    margin-bottom: 10%;

}
   

#formu{
    width: 25%;
    height: 30%;
    
    margin-left: 40%;
    margin-top: 20%;
    background-color:none;
    

}
